audio {
  margin: 10px 0 10px 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}

form label {
  color: darkblue;
}

h2 {
  color: hsla(40, 70%, 40%, 0.5);
  text-shadow: 1px 1px #FF0103;
  font-size: 1.4em;
}

main + hr {
  border: 3px solid darkblue;
}

iframe {
  width: 425px;
  height: 350px;
}

div ~ p {
  font-size: 1.1em;
  color: purple;
}

SVG {
  margin: auto;
  max-width: 500%;
}

div > p[class="arrow"] {
  color: white;
  font-size: 200%;
}

.bball:hover {
  background-color: purple;
}

div.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: 0;
  background-color: blue;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.item-red {
  background-color: red;
  height: 100px;
}

.text-black {
  color: red;
}

.text-red {
  color: black;
}

.text-red, .text-black {
  text-align: center;
  line-height: 75px;
  font-size: 100%;
}

.item-black {
  background-color: black;
  height: 100px;
}

.hiker:hover {
  background-color: green;
}

.ye:active {
  opacity: 0.2;
}

#el_toro {
  font-size: 200%;
  color: royalblue;
}

#ivcollege {
  font-size: 200%;
  color: darkblue;
  text-align: center;
}

#ucsd {
  font-size: 200%;
  color: blue;
  text-align: center;
  text-decoration: underline;
}

#quote {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#me {
  display: inline-block;
  position: relative;
  left: 630px;
}

#mecap {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

a[id="linked"] {
  color: blue;
  display: inline;
  position: fixed;
  right: 20px;
}

a[id="git"] {
  color: black;
  display: inline;
}
